{% extends 'base.html' %}

{% block title %} Login Page {% endblock %}
{% block loginactive %} active {% endblock loginactive %}

{% block css %}
{% endblock %}
{% block body %}
<div class="container" style="width: 600px;">

<form action="/login/" method="POST" > {% csrf_token %}
  <div class="container mt-5 text-white " style="font-size: 18px;">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <br>
  <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

  <div class="text-center ">
    <button type="submit" class="btn btn-primary " style="margin-bottom: 10rem;">Submit </button>
  </div>
</div>
</form>
</div>


{% endblock %}
